{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<body>
  <div id="seed" style="display: none;">
    <p>{{ seed }}</p>
  </div>
  <div class="side-bar shadow" style="float: left" method="POST">
    <div class="menu_intro" style="padding: 24px">
      <h3 class="w3-bar-item">Worksheet Options</h3>
      <h6 style="color: rgb(94, 94, 94)">Prealgebra worksheet generater</h6>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Problem Type Options</button>
          <div id="myDropdown" class="dropdown-content">
            
            <div class="num_problem">
              <label for="numprob" class="num-problem-font">Number of Problems*</label>
              <input type="number" id="numprob" name="numprob" min="1" max="10">
            </div>

            <div class="txt-title">
              <label for="studnetName" class="num-problem-font">Student Name* </label>
              <input type="text" id="studnetName" name="studnetName">
            </div>

            <div class="txt-desc">
              <label for="dueDate" class="num-problem-font">Due Date* </label>
              <input type="date" id="dueDate" name="dueDate">
            </div>

            <div class="txt-randnum">
              <label for="randnum" class="num-problem-font">min* </label>
              <input type="number" id="minnum" name="min" min="100" max="899">

              <label for="randnum" class="num-problem-font">max* </label>
              <input type="number" id="maxnum" name="max" min="101" max="900">
            </div>
            <!--
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round" onclick="btnadd()"></span>
              </label>
              <span>Addition</span>
            </div>

            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>Subtraction</span>
            </div>

            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>Multiplication</span>
            </div>
          
            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>Division</span>
            </div> --> 
          </div>

      </div>

      <div class="dropdown">
        <button onclick="resetLocation()" class="dropbts" id="second-opt">Display Options</button>
        <div id="myDropdown2" class="dropdown-content2">
            
          <div class="num_problem">
            <label for="numprob" class="num-problem-font">Number of Problems*</label>
            <input type="number" id="numprob" name="numprob" min="1" max="10">
          </div>

          <div class="txt-title">
            <label for="studnetName" class="num-problem-font">Student Name* </label>
            <input type="text" id="studnetName" name="studnetName">
          </div>

          <div class="txt-desc">
            <label for="dueDate" class="num-problem-font">Due Date* </label>
            <input type="date" id="dueDate" name="dueDate">
          </div>

          <div class="txt-randnum">
            <label for="randnum" class="num-problem-font">min* </label>
            <input type="number" id="minnum" name="min" min="100" max="899">

            <label for="randnum" class="num-problem-font">max* </label>
            <input type="number" id="maxnum" name="max" min="101" max="900">
          </div>
        </div>
      </div>

    </div>
  <!--Generate button box-->
  <div class="btn_generate shadow">
    <button method="POST" class="btn-create shadow" onclick="send_section1()">GENERATE WORKSHEET</button>
  </div>

  <!--End of the vertical option bar-->
</div>
  <!-- Exmaples
    <p><span>$$\overline{4}6,440 $$</span></p>
  -->

  <div class="wks-gen" style="width: 75%; float: right">
    <div class = "col-worksheet">
      
      <div class="wks-info">
        <div> <p class= "wks-name">Name: <span id="txt-studnetName"></span></p> </div>
        <div> <p class= "wks-date">Due Date: <span id="txt-dueDate"></span></p> </div>
      </div>

      <div id="wks-problems">
        $$\overline{4}6,440 $$

      </div>

    </div>
  </div>
</body>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
  MathJax.Hub.Config({
  extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
  },
  "HTML-CSS": { availableFonts: ["TeX"] }
});
</script> 
{% endblock %}