.col-worksheet {
  display: none;
  background-color: white;
  width: 511px;
  height: 660px;
  position: relative;
/*  left: 750px; */
  top: 20px;
  margin-bottom: 80px; 
}

.wks-name {
  /*T R B L*/
  margin: 0px 0px 0px 20px;
  padding-top: 10px;
  width: 180px;
  font-weight: bold;
  font-size: 16px;
  float: left;
}

.wks-date {
  /*T R B L*/
  margin: 0px 0px 0px 95px;
  padding-top: 10px;
  width: 180px;
  font-weight: bold;
  font-size: 16px;
  float: right;
}

#minnum, #maxnum {
  width: 80px;
}